.sponsors{
    background-color: $blanco;
    justify-content: center;
    clear: both;
    border-top: solid 2px;
    border-bottom: solid 2px;
    animation-name: textAlpha;
    animation-duration: 1.5s;
}